POSTGRES_DB=<set-locally>
POSTGRES_USER=<set-locally>
POSTGRES_PASSWORD=<set-locally>
MQTT_HOST=<set-locally>
MQTT_PORT=<set-locally>
MQTT_USERNAME=<set-locally>
MQTT_PASSWORD=<set-locally>
BACKEND_BASE_URL=<set-locally>
AI_SERVER_BASE_URL=<set-locally>
DEVICE_COMMAND_TTL=10s
ACTUATION_ENABLED=false
RISK_POLICY_CONFIRMED=false
RESPONSE_POLICY_ENABLED=false
RESPONSE_MIN_RISK_LEVEL=HIGH
